#container{
  display: grid;
  place-items: center;
}

#semaforo{
  width: 100px;
  height: 200px;
  border-radius: 30px;
  display: grid;
  place-items: center;
  background-color: #2c3e50;
  padding: 10px;
}

.luces{
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0, 0.3);
  position: relative;
}

#poste{
  width: 8px;
  height: 280px;
  background-color: rgb(0, 0, 0, 0.5);
}

#piso{
  width: 300px;
  height: 1px;
  background-color: rgb(0, 0, 0, 0.5);
  box-shadow: 0 0 10px 1px #a5682a;
}

.rojo{
  background-color: #c0392b;
  box-shadow: 0 0 10px 1px #c0392b;
}

.verde{
  background-color: #2ecc71;
  box-shadow: 0 0 10px 1px #2ecc71;
}

.amarillo{
  background-color: #f1c40f;
  box-shadow: 0 0 10px 1px #f1c40f;
}

